<ion-view title="Cadastre-se" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <form id="cadastreSe-form3" class="list">
      <ion-list id="cadastreSe-list3">
        <label class="item item-input" id="cadastreSe-input6">
          <span class="input-label">Nome</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="cadastreSe-input9">
          <span class="input-label">CPF</span>
          <input placeholder="000000000-00" type="number">
        </label>
        <label class="item item-input" id="cadastreSe-input10">
          <span class="input-label">E-mail</span>
          <input placeholder="" type="email">
        </label>
        <label class="item item-input" id="cadastreSe-input7">
          <span class="input-label">Usuário</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="cadastreSe-input8">
          <span class="input-label">Senha</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <a ui-sref="login" id="cadastreSe-button4" class="button button-stable  button-block">Feito</a>
    </form>
  </ion-content>
</ion-view>