<ion-view title="Login" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Usuário</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.mural" id="login-button1" class="button button-stable  button-block">Log in</a>
      <a ui-sref="cadastreSe" id="login-button2" class="button button-positive  button-block button-clear">Ou crie uma conta</a>
    </form>
  </ion-content>
</ion-view>