<ion-view title="Mural" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="mural-heading2" style="color: rgb(10, 43, 239); font-weight: 300;">Escolha uma música para a Playlist.</h3>
    <form id="mural-form5" class="list">
      <label class="item item-input" id="mural-search1" name="buscaMusica" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="O que você deseja ouvir hoje?" type="search">
      </label>
    </form>
    <h3 id="mural-heading3" style="color: rgb(13, 38, 242); font-weight: 300;">Playlist</h3>
    <div class="item item-body" id="mural-list-item-container1" style="">
      <div id="mural-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">As mais pedidas do dia ♪♪♪</p>
      </div>
    </div>
    <ion-list id="mural-list16">
      <ion-item id="mural-list-item40" style="">Item 1</ion-item>
      <ion-list id="mural-list17">
        <ion-item id="mural-list-item43" style="">Item 1</ion-item>
        <ion-item id="mural-list-item44" style="">Item 2</ion-item>
        <ion-item id="mural-list-item45" style="">Item 3</ion-item>
      </ion-list>
      <ion-item id="mural-list-item41" style="">Item 2</ion-item>
      <ion-item id="mural-list-item42" style="">Item 3</ion-item>
    </ion-list>
    <ion-list id="mural-list13">
      <ion-item id="mural-list-item31" style="">Item 1</ion-item>
      <ion-item id="mural-list-item32" style="">Item 2</ion-item>
      <ion-item id="mural-list-item33" style="">Item 3</ion-item>
      <ion-list id="mural-list15">
        <ion-item id="mural-list-item37" style="">Item 1</ion-item>
        <ion-item id="mural-list-item38" style="">Item 2</ion-item>
        <ion-item id="mural-list-item39" style="">Item 3</ion-item>
      </ion-list>
    </ion-list>
    <ion-list id="mural-list9">
      <ion-item id="mural-list-item19" style="">Item 1</ion-item>
      <ion-item id="mural-list-item20" style="">Item 2</ion-item>
      <ion-list id="mural-list12">
        <ion-item id="mural-list-item28" style="">Item 1</ion-item>
        <ion-item id="mural-list-item29" style="">Item 2</ion-item>
        <ion-item id="mural-list-item30" style="">Item 3</ion-item>
      </ion-list>
      <ion-item id="mural-list-item21" style="">Item 3</ion-item>
      <ion-list id="mural-list10">
        <ion-item id="mural-list-item22" style="">Item 1</ion-item>
        <ion-item id="mural-list-item23" style="">Item 2</ion-item>
        <ion-list id="mural-list11">
          <ion-item id="mural-list-item25" style="">Item 1</ion-item>
          <ion-item id="mural-list-item26" style="">Item 2</ion-item>
          <ion-list id="mural-list14">
            <ion-item id="mural-list-item34" style="">Item 1</ion-item>
            <ion-item id="mural-list-item35" style="">Item 2</ion-item>
            <ion-item id="mural-list-item36" style="">Item 3</ion-item>
          </ion-list>
          <ion-item id="mural-list-item27" style="">Item 3</ion-item>
        </ion-list>
        <ion-item id="mural-list-item24" style="">Item 3</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>