<ion-view title="Mural" id="page2" style="background-color: rgb(242, 10, 17);">
  <ion-content padding="true" class="has-header">
    <h3 id="mural-heading2" style="color: rgb(250, 250, 250); font-weight: 300;">Escolha 10 Músicas para a Playlist da semana</h3>
    <form id="mural-form7" class="list">
      <ion-checkbox id="mural-checkbox1" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox2" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox3" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox4" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox5" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox6" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox13" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox14" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox15" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox16" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox17" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox18" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox19" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox20" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox7" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox8" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox9" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox10" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox11" style="">Checkbox</ion-checkbox>
      <ion-checkbox id="mural-checkbox12" style="">Checkbox</ion-checkbox>
    </form>
    <h3 id="mural-heading3" style="color: rgb(250, 250, 250); font-weight: 300;">Playlist top 10</h3>
    <ion-list id="mural-list18">
      <ion-item id="mural-list-item14" style="">Item</ion-item>
      <ion-item id="mural-list-item11" style="">Item 1</ion-item>
      <ion-item id="mural-list-item12" style="">Item 2</ion-item>
      <ion-item id="mural-list-item13" style="">Item 3</ion-item>
    </ion-list>
    <ion-list id="mural-list13">
      <ion-item id="mural-list-item31" style="">Item 1</ion-item>
      <ion-item id="mural-list-item32" style="">Item 2</ion-item>
      <ion-item id="mural-list-item33" style="">Item 3</ion-item>
      <ion-list id="mural-list15">
        <ion-item id="mural-list-item37" style="">Item 1</ion-item>
        <ion-item id="mural-list-item38" style="">Item 2</ion-item>
        <ion-item id="mural-list-item39" style="">Item 3</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>