<ion-view title="Quem somos" id="page4" style="background-color: rgb(242, 10, 17);">
  <ion-content padding="true" class="has-header">
    <div id="quemSomos-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#FAFAFA;">Somos discentes do curso de Licenciatura plena em informática e juntos construimos esse aplicativo para a rádio interna do mesmo instituto com o intuito de facilitar a comunicação entre a rádio e os alunos e também como requisito parcial da disciplina
        D.S. Corporativos.</p>
    </div>
    <ion-list id="quemSomos-list4">
      <ion-item class="item-avatar positive" id="quemSomos-list-item7" style="">
        <h2positive>Kleyton Torres</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="quemSomos-list-item5" href-inappbrowser="https://www.facebook.com/raquel.marinho.79?fref=ts" style="">
        <img src="img/9GvonkDPRdG8VY98BTJ4_Raquel.jpg">
        <h2positive>Raquel Marinho</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="quemSomos-list-item1" href-inappbrowser="https://www.facebook.com/JehEdly?fref=ts" style="">
        <img src="img/t3EodS7bQ0OF32w5ia7Q_JessycaEdly.jpg">
        <h2positive>Jessyca Edly</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="quemSomos-list-item2" href-inappbrowser="https://www.facebook.com/jailson.araujodasilva" style="">
        <img src="img/UotBlgQvmbbISKrHLYPQ_Jailson.jpg">
        <h2positive>Jailson Araújo</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="quemSomos-list-item3" href-inappbrowser="https://www.facebook.com/marlon.aelson?fref=ts" style="">
        <img src="img/UrjtwujvSJ2qXl4vBOUl_MarlonAelson.jpg">
        <h2positive>Marlon Aelson</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="quemSomos-list-item4" href-inappbrowser="https://www.facebook.com/franklintavoraalmeida?fref=ts" style="">
        <img src="img/xWyczhgQxGcUQgGbfGb7_FranklinTvora.jpg">
        <h2positive>Franklin Távora</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="quemSomos-list-item6" href-inappbrowser="https://www.facebook.com/profile.php?id=100003981628054&amp;fref=ts" style="">
        <img src="img/0nLFyQrtRpaH8g9pmBAK_16177849_1341563762532515_4517428806836245741_o.jpg">
        <h2positive>Paulo Arruda</h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>